/*font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-family: glodok, sans-serif;
  font-weight: 400;
  font-style: normal;
*/

@font-face {
  font-family: 'heavy';
  src: url('../17-Amber/font/heavy-heap.woff') format('woff'), 
}

@font-face {
  font-family: 'sergio';
  src: url('../17-Amber/font/Sergio-Trendy.woff') format('woff');
}

html {
  scroll-behavior: auto
}

body {
  max-width: 380px;
  margin: auto;
  background-color: #f6ece3;
}

header {
  background-color: #eddfd1;
}

header img {
  width: 180px;
  margin: auto;
  display: flex;
}

h1 {
  font-family: sergio;
  font-size: 36px;
  color: #2c2d48;
  text-align: center;
  margin: 50px 0 10px;
}

.h1_bardot {
  font-family: glodok, sans-serif;
  font-size: 30px;
}

.long {
  height: 1px;
  border: none;
  background-color: black;
}

.medium {
  height: 1px;
  border: none;
  background-color: black;
  margin: 40px 30px 0;
}

.small {
  height: 1px;
  border: none;
  background-color: black;
  margin: 0 80px 0;
}

.medium_amber {
  height: 1px;
  border: none;
  background-color: black;
  margin: 40px 10px 0;
}

.nav_bar {
  font-family: glodok, sans-serif;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav_bar a {
  text-decoration: none;
  color: #2c2d48;
  font-size: 14px;
}

p {
  font-family: courier-std, monospace;
  font-size: 10px;
  text-align: center;
  margin: 50px 45px 0;
}

.paragraph {
  margin: 40px 70px 0;
  font-size: 14px;
}

.second {
  font-family: courier-std, monospace;
  font-size: 10px;
  text-align: center;
  margin: 20px 45px 50px;
}

.poster {
  width: 325px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 90px;
  display: flex;
}

h2 {
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

.features {
  font-family: 'sergio';
  font-size: 18px;
  color: #2c2d48;
  text-align: left;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 180px;
  margin-bottom: 0;
}

.features_bottom {
  font-family: 'sergio';
  font-size: 18px;
  color: #2c2d48;
  text-align: right;
  margin-top: 140px;
  margin-left: 180px;
  margin-right: 40px;
  margin-bottom: 130px;
}

.features_60 {
  font-family: glodok, sans-serif;
  font-size: 18px;
  color: #2c2d48;
  text-align: left;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 180px;
  margin-bottom: 0;
}

.features_bottom_60 {
  font-family: glodok, sans-serif;
  font-size: 18px;
  color: #2c2d48;
  text-align: right;
  margin-top: 140px;
  margin-left: 180px;
  margin-right: 40px;
  margin-bottom: 130px;
}

.ressellers {
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.ressellers_50 {
  font-family: 'sergio';
  color: #2c2d48;
  margin-bottom: 5px;
}

.ressellers_60 {
  font-family: glodok, sans-serif;
  color: #2c2d48;
  margin-bottom: 5px;
}

.logo_media_markt {
  width: 165px;
  margin: auto;
  display: flex;
  margin-top: 50px;
}

.logo_galaxus {
  width: 165px;
  margin: auto;
  display: flex;
}

.logo_boulanger {
  width: 165px;
  margin: auto;
  display: flex;
}

.logo_fnac {
  width: 123px;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

footer {
  background-color: #eddfd1;
  padding: 30px 20px 0;
  height: 350px;
}

.footer_50 {
  background-color: #b0cccc;
}

.footer_60 {
  background-color: #e3d4af;
}

.container_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

footer nav img {
  width: 25px;
  margin-right: 20px;
}

footer nav a {
  text-decoration: none;
}

.container_footer div {
  width: 50%;
  margin-left: 10px;
}

.last {
  text-align: right;
}

.last p {
  position: absolute;
  top: 70px;
  right: 15px;
  margin: 0;
}

.last p:last-child {
  top: 80px;
}

.logo_eikon {
  width: 80px;
  margin: 0;
}

footer h2 {
  text-align: left;
}

.arrow {
  width: 90px;
  position: absolute;
  margin: 50px 0 65px;
  left: 50%;
  transform: translateX(-50px);
}

.amberbuds {
  width: 250px;
  margin: auto;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.button_price {
  padding: 10px;
  background-color: #b0cccc;
  font-family: courier-std, monospace;
  font-size: 14px;
  text-decoration: none;
  color: #2c2d48;
  margin: 50px 147px;
}

.button_price_60 {
  padding: 10px;
  background-color:#e3d4af;
  font-family: courier-std, monospace;
  font-size: 14px;
  text-decoration: none;
  color: #2c2d48;
  margin: 50px 147px;
}

.hepburn {
  background-color: #c3e4e5;
}

.hepburn header {
  background-color: #b0cccc;
}

.bardot {
  background-color: #ffefc2;
}

.bardot header {
  background-color: #e3d4af;
}

.description {
  font-size: 14px;
  margin-top: 80px;
}

.box {
  width: 200px;
  position: absolute;
  display: flex;
  transform: translate(85%, -120px) rotate(15deg);
}

.box_bottom {
  width: 240px;
  position: absolute;
  display: flex;
  transform: translate(-5%, -290px) rotate(-10deg);
}

.box_60 {
  width: 210px;
  position: absolute;
  display: flex;
  transform: translate(70%, -120px) rotate(15deg);
}

.box_bottom_60 {
  width: 220px;
  position: absolute;
  display: flex;
  transform: translate(-5%, -290px) rotate(-10deg);
}

.container_product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 25px;
}

.container_product div {
  width: 150px;
  background-color: #b0cccc;
  height: 220px;
}

.container_product img {
  width: 150px;
  margin-top: 40px;
}

.container_product_60 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 25px;
}

.container_product_60 div {
  width: 150px;
  background-color: #e3d4af;
  height: 220px;
}

.container_product_60 img {
  width: 150px;
  margin-top: 40px;
}


